.darkThemeHover {
  background-color: #101010;
}
.darkThemeHover:hover {
  background-color: #f3f5f726;
}
.lightThemeHover {
  background-color: #fafafa;
}
.lightThemeHover:hover {
  background-color: #00000026;
}

@media screen and (max-width: 450px) {
  header#sidebarLeft {
    width: 2rem;
    padding-left: 0.5rem;
  }
  div.itsAndIconWrapper {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }
}
